@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Roboto+Flex:wdth,wght@25..151,100..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* These utilities are intended for use with the Roboto Flex variable font. */
.stretch-min {
  font-stretch: 25%;
}
.stretch-thin {
  font-stretch: 75%;
}
.stretch-wide {
  font-stretch: 125%;
}
.stretch-max {
  font-stretch: 151%;
}
